@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

body {
  font-family: "Poppins", sans-serif;
}

.navbar .nav-item {
  padding: 1rem;
  /* position: absolute; */
}

.carousel {
  /* position: absolute; */
  /* z-index: -1; */
  width: 100%;
}

.content {
  position: absolute;
  z-index: 2;
  background: white;
}

a {
  text-decoration: none;
}

.carousel-item {
  height: 90vh;
  width: 100%;
}

.bg1 {
  background: radial-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/background3.jpg);
  background-position: center;
  background-size: cover;
}

.bg2 {
  background: radial-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/background1.jpg);
  background-position: center;
  background-size: cover;
}

.bg3 {
  background: radial-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/background.jpg);
  background-position: center;
  background-size: cover;
}

.card {
  margin: 2rem 0rem;
}

.caption {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 10px #000;
  color: white;
}
.welcome h1 {
  padding-top: 2rem;
}

/* .welcome-wrap {
  height: 90vh;
}*/

/* .text-img-wrap {
  height: 90vh;
}*/

.wlcm {
  height: 90vh;
  background: radial-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/bg2.jpg);
  background-position: center;
  background-size: cover;
}

.threeCol {
  height: 90vh;
  padding: 5rem 0rem;
  background: radial-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/bg1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.fa-snowflake,
.fa-adn,
.fa-angellist {
  font-size: 3em;
  margin: 1rem;
}

.fa-snowflake {
  color: #fe4a49;
}

.fa-adn {
  color: #0d3b66;
}

.fa-angellist {
  color: #ed7d3a;
}

.connect {
  font-size: 3rem;
  padding: 5rem;
}

.connect a {
  padding: 3rem;
}

.fa-facebook {
  color: #4267b2;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-google-plus-g {
  color: #db4437;
}

.fa-instagram {
  color: #4656a5;
}

.fa-youtube {
  color: #ff0000;
}

/*---Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .connect {
    font-size: 2rem;
    padding: 1rem;
  }
  .connect a {
    padding: 1rem;
  }
  .caption h1 {
    font-size: 2rem;
  }
  .caption h6 {
    font-size: 0.8rem;
  }
  .caption button {
    font-size: 0.8rem;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url("img/mac.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
